<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- partial de header -->
    <%- include('./partials/header') %>
    



    <h1><%= title %></h1>
    <p>Welcome to <%= title %> brian gomez</p>

    <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores, vel?</h3>
  </body>
</html>
