<header>
    <article class="article-left"></article>
    <article class="article-center">
      <ul>
        <li><a href="/">Index</a></li>
        <li><a href="/autos/">Autos</a></li>
        <li><a href="/autos/filtrarColor/red">Autos por Color</a></li>

      </ul>
    </article>
    <article class="article-right"></article>
  </header>